<div class="container-fluid">
  <h1 class="text-center">Tanárok</h1>
  {{obj|json}}
  <!-- <br>
  <br>
  <div class="row" *ngFor="let tancsi of obj">
    {{tancsi.name}}
  </div>
  <br>
  <br> -->
  <div class="row text-center">
    <div class="col" *ngFor="let oszlop of oszlopok">
      {{oszlop.texthu}}
    </div>
    <div class="col">
      Műveletek
    </div>
  </div>
  {{ujTancsi|json}}
  <div class="row">
    <div class="row my-2">
      <div class="col text-center" *ngFor="let oszlop of oszlopok">
        <input [(ngModel)]="ujTancsi[oszlop.key]" [value]="ujTancsi[oszlop.key]" [type]="oszlop.type" class="form-control">
      </div>
      <div class="col text-center">
        <button (click)="uj()" type="button" class="btn btn-success ">Hozzáadás</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row my-2" *ngFor="let tancsi of obj; let i = index">
      <div class="col text-center" *ngFor="let oszlop of oszlopok">
        <ng-container *ngIf="oszlop.type!='plain';else plain">
          <input [(ngModel)]="tancsi[oszlop.key]" [value]="tancsi[oszlop.key]" [type]="oszlop.type" class="form-control">
        </ng-container>
        <ng-template #plain>
          {{tancsi[oszlop.key]}}
        </ng-template>
      </div>
      <div class="col text-center">
        <button (click)="mentes(tancsi,i)" type="button" class="btn btn-warning me-2">Mentés</button>
        <button (click)="torol(tancsi,i)" type="button" class="btn btn-danger ">Törlés</button>
      </div>
    </div>
  </div>
  
</div>